<div class="body" style="padding-top: 20px;">
      <div style="text-align: center;">
        <%= image_tag("/assets/images/garuda.png", height: '160', width: '160') %>
      </div>

      <% unless @errors.nil? %>
      <h2 style="color:white;background:red;">Pengajuan Gagal. Silahkan cek pesan dibawah ini</h2>
        <div style="padding:4px;color:red;font-size:10pt;">
          <% @errors.each do |fs| %>
            <%= simple_format(fs[0].to_s + " = " + fs[1].to_s + "\n")  %>
          <%end%>
          <br />
          Silahkan Upload File - File anda kembali jika ada.
        </div>
      <%end%>
<%= simple_form_for @marriage_affidavit, :method => :post, :html => { :class => "sky-form", :multipart => true } do |f| %>
  <%= f.error_notification %>
  <header>Formulir Affidavit Pernikahan</header>
  <fieldset style="text-align:justify;">
  Silakan isi formulir ini dengan hati-hati dan tuntas. Semua data ditanyakan adalah <b>penting</b> kecuali dinyatakan sebagai 'TIDAK'. Silakan gunakan <b>Karakter Latin</b> dan gunakan <b>Huruf Hangeul khusus untuk Alamat di Korea</b>.
  </fieldset>
  <fieldset>
    <div class="row">
            <section class="col col-3">
              <label class="label">Instansi yg Dituju</label>
              <label class="input">
                <%= f.input_field :designated_institution, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Pengantin Orang Indonesia</label>
              <label class="select">
                <%= f.input_field :bridegroom, :required => true,
                collection: { 'Mempelai Wanita' => 'Bride',
                              'Mempelai Laki-Laki' => 'Groom'
                              } %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Pejabat Penandatangan</label>
              <label class="select">
                <%= f.input_field :authorized_signer_name, :required => true,
                collection: { 'Riza Hera Wardhana' => 'Riza Hera Wardhana',
                              'Didik Eko Pujiyanto' => 'Didik Eko Pujiyanto'
                              } %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Jabatan</label>
              <label class="select">
                <%= f.input_field :authorized_signer_post, :required => true,
                collection: { 'Minister' => 'Minister',
                              'Minister Counsellor' => 'Minister Counsellor',
                              'First Secretary' => 'First Secretary',
                              'Second Secretary' => 'Second Secretary',
                              'Third Secretary' => 'Third Secretary'
                              } %>
              <i></i>
              </label>
            </section>
    </div>
  </fieldset>
   <fieldset style="text-align:center;">
          <h4>Data Mempelai Pria</h4>
  </fieldset>
  <fieldset>
    <div class="row">
            <section class="col col-3">
              <label class="label">Nama Mempelai Pria</label>
              <label class="input">
                <%= f.input_field :groom_name, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Ayah Mempelai Pria</label>
              <label class="input">
                <%= f.input_field :groom_father, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Ibu Mempelai Pria</label>
              <label class="input">
                <%= f.input_field :groom_mother, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Tanggal Lahir</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :groom_birthday, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>
    </div>
    <div class="row">
            <section class="col col-6">
              <label class="label">Alamat Permanen</label>
              <label class="textarea textarea-expandable">
                <i class="icon-append icon-comments"></i>
                <%= f.input_field :groom_address_permanent, :required => true,
                                  :row => 10, :maxlength => 100, as: :text %>
              </label>
            </section>

            <section class="col col-6">
              <label class="label">Alamat Saat Ini</label>
              <label class="textarea textarea-expandable">
                <i class="icon-append icon-comments"></i>
                <%= f.input_field :groom_address_recent, :required => true,
                                  :row => 10, :maxlength => 100, as: :text %>
              </label>
            </section>
    </div>
    <div class="row">
            <section class="col col-4">
              <label class="label">ID/Passport</label>
              <label class="input">
                <%= f.input_field :groom_id_passport, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-4">
              <label class="label">Pekerjaan</label>
              <label class="input">
                <%= f.input_field :groom_job, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-4">
              <label class="label">Kewarganegaraan</label>
              <label class="input">
                <%= f.input_field :groom_citizenship, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>
    </div>
    <div class="row">
            <section class="col col-3">
              <label class="label">Cerai Mati</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :groom_divorce_death, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-3">
              <label class="label">Cerai Hidup</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :groom_divorce_legal, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-3">
              <label class="label">Pengadilan</label>
              <label class="input">
                <%= f.input_field :groom_divorce_court, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">No. Kasus</label>
              <label class="input">
                <%= f.input_field :groom_divorce_caseno, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>
    </div>
    <div class="row">
            <section class="col col-3">
              <label class="label">Mulai Kasus</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :groom_divorce_decreestart, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-3">
              <label class="label">Putusan Kasus</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :groom_divorce_decreefinal, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-6">
              <label class="label">Saksi-Saksi</label>
              <label class="input">
                <%= f.input_field :groom_divorce_witness, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
              <div class="note"><strong>Catatan : </strong>Pisahkan dengan "," bila saksi > 1</div>
            </section>
    </div>
  </fieldset>
  <fieldset style="text-align:center;">
          <h4>Data Mempelai Wanita</h4>
  </fieldset>
  <fieldset>
    <div class="row">
            <section class="col col-3">
              <label class="label">Nama Mempelai Wanita</label>
              <label class="input">
                <%= f.input_field :bride_name, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Ayah Mempelai Wanita</label>
              <label class="input">
                <%= f.input_field :bride_father, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Ibu Mempelai Wanita</label>
              <label class="input">
                <%= f.input_field :bride_mother, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">Tanggal Lahir</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :bride_birthday, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>
    </div>
    <div class="row">
            <section class="col col-6">
              <label class="label">Alamat Permanen</label>
              <label class="textarea textarea-expandable">
                <i class="icon-append icon-comments"></i>
                <%= f.input_field :bride_address_permanent, :required => true,
                                  :row => 10, :maxlength => 100, as: :text %>
              </label>
            </section>

            <section class="col col-6">
              <label class="label">Alamat Saat Ini</label>
              <label class="textarea textarea-expandable">
                <i class="icon-append icon-comments"></i>
                <%= f.input_field :bride_address_recent, :required => true,
                                  :row => 10, :maxlength => 100, as: :text %>
              </label>
            </section>
    </div>
    <div class="row">
            <section class="col col-4">
              <label class="label">ID/Passport</label>
              <label class="input">
                <%= f.input_field :bride_id_passport, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-4">
              <label class="label">Pekerjaan</label>
              <label class="input">
                <%= f.input_field :bride_job, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-4">
              <label class="label">Kewarganegaraan</label>
              <label class="input">
                <%= f.input_field :bride_citizenship, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>
    </div>
    <div class="row">
            <section class="col col-3">
              <label class="label">Cerai Mati</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :bride_divorce_death, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-3">
              <label class="label">Cerai Hidup</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :bride_divorce_legal, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-3">
              <label class="label">Pengadilan</label>
              <label class="input">
                <%= f.input_field :bride_divorce_court, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>

            <section class="col col-3">
              <label class="label">No. Kasus</label>
              <label class="input">
                <%= f.input_field :bride_divorce_caseno, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
            </section>
    </div>
    <div class="row">
            <section class="col col-3">
              <label class="label">Mulai Kasus</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :bride_divorce_decreestart, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-3">
              <label class="label">Putusan Kasus</label>
              <label class="input">
                  <i class="icon-append icon-calendar"></i>
                  <%= f.input_field :bride_divorce_decreefinal, class: 'datePick' %>
              </label>
              <div class="note"><strong>Format : </strong>yyyy/mm/dd</div>
            </section>

            <section class="col col-6">
              <label class="label">Saksi-Saksi</label>
              <label class="input">
                <%= f.input_field :bride_divorce_witness, :required => true, :maxlength => 30  %>
              <i></i>
              </label>
              <div class="note"><strong>Catatan : </strong>Pisahkan dengan "," bila saksi > 1</div>
            </section>
    </div>
  </fieldset>
  <fieldset style="text-align:justify;">
          <h4>Disclaimer</h4>
          <hr /><br />
          <p>Dengan mengisi form ini Saya menyatakan bahwa semua data yang diisikan merupakan informasi yang sebenar-benarnya.
            Segala kesalahan informasi yang dapat menyebabkan kerugian adalah tanggung jawab Saya dan tidak dapat di tangguhkan pada pihak lain.
            KBRI Seoul dan staff terkait dapat menolak/meminta perubahan data dan informasi terkait permohonan jika tidak sesuai dengan syarat dan ketentuan.
          </p>
  </fieldset>

  <footer>
          <button type="submit" class="button">Ajukan Permohonan</button>
          <button type="button" class="button button-secondary" onclick="window.history.back();">Kembali</button>
  </footer>
<% end %>
</div>
<script type="text/javascript">
      $(function()
      {
        $('input[type=text]').keyup(function() {
            $(this).val($(this).val().toUpperCase());
        });
        $('textarea').keyup(function() {
            $(this).val($(this).val().toUpperCase());
        });
        // Regular datepicker
        $('.datePick').datepicker({
          dateFormat: 'yy/mm/dd',
          prevText: '<i class="icon-chevron-left"></i>',
          nextText: '<i class="icon-chevron-right"></i>',
          changeMonth: true,
              changeYear: true,
              yearRange: '1900:2040'
        });

        $('.fileplaceholder').change(function(){
          filename = $(this).val();
          $(this).parent().next().val(filename.split("\\").pop());
        });

      });
</script>
