<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>SPLP halaman 1</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 383px 0px 0px 0px;padding: 0px;border: none;width: 1056px;}

.ft0{ font: 13px 'Arial';line-height: 16px;}
.ft1{ font: 12px 'Arial';line-height: 15px;}

.p0{text-align: left;padding-left: 393px;margin-top: 0px;margin-bottom: 10px;}
.p1{text-align: left;padding-left: 470px;margin-top: 72px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 355px;margin-top: 78px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 355px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 400px;margin-top: 18px;margin-bottom: 0px;}

.box_name{width: 20em;height: 1em; word-wrap: break-word;}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<P class="p0 ft0 box_name"><b> <%= @splp.full_name%></b></P>
<P class="p1 ft1"><b><%= @splp.placeBirth%>, <%=@splp.dateBirth.strftime("%d %b %Y") %></b></P>
<P class="p2 ft1"><b><%= @splp.addressIndonesia %></b></P>
<P class="p3 ft1"><b><%= @splp.kelurahanIndonesia %></b></P>
<P class="p3 ft1"><b><%= @splp.kecamatanIndonesia%></b></P>
<P class="p4 ft1"><b><%= @splp.height%> CM</b></P>
</DIV>
</BODY>
</HTML>
