<div class="body" style="padding-top: 20px;">
<div style="text-align: center;">
  <%= image_tag("/assets/images/garuda.png", height: '120', width: '120') %>
</div>
<h3 style="text-align: center;">Rekap Legalisasi Terjemahan SIM</h3>
<div class="span8">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>No. Registrasi</th>
        <th>Aplikan</th>
        <th>No. SIM</th>
        <th>Pejabat</th>
        <th colspan="3">Status</th>
      </tr>
    </thead>
    <tbody>
    <% if @driving_license_certificates.count > 0 then %>
       <% @driving_license_certificates.each do |license| %>
       <tr>
        <td><%= license.status_seq_no %></td>
        <td><%= license.license_holder_name %></td>
        <td><%= license.license_no %></td>
        <td>
            <%= license.authorized_signer_name + " (" + license.authorized_signer_post + ")" %>
        </td>
        <td><%= link_to driving_license_certificate_path(license) + ".pdf", target: "_blank" do %>
                                <span class="glyphicon glyphicon-file"></span>
                                <span class="glyphicon-class">Print</span>
            <% end %></td>
        <td>|&nbsp;<%= link_to edit_driving_license_certificate_path(license) do %>
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="glyphicon-class">Edit</span>
            <% end %></td>
        <td>|&nbsp;<%= link_to license, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="glyphicon-class">Delete</span>
            <% end %></td>
       </tr>
       <% end %>
    <% end %>
    </tbody>
  </table>
    <%= paginate @driving_license_certificates %>
</div>

<%= link_to 'Aplikasi Baru', new_driving_license_certificate_path, :class => 'btn btn-mini btn-primary', :style => 'color: white;' %>


